---
layout: layouts/base.njk
title: Blog
permalink: /posts/
eleventyNavigation:
    key: Blog
    order: 2
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p class="post-back-link">
  <a href="/">← Back to home</a>
</p>
