{% set colorAccent = "#bdffd3" %}
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon32x32.png">
<link rel="apple-touch-icon" type="image/png" sizes="144×144" href="/img/apple-touch-icon.png">
<meta name="theme-color" content="{{ colorAccent }}">
