<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nav",
        listItemClass: "nav-item",
        activeListItemClass: "nav-item-active",
        activeKey: eleventyNavigation.key
      }) | safe }}
    </header>
<main id="main">
    {{ content | safe }}
</main>
  </body>
</html>
