<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content='{{ description }}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/css/favicon.ico' | url }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nav",
        listItemClass: "nav-item",
        activeListItemClass: "nav-item-active",
        activeKey: eleventyNavigation.key
      }) | safe }}
    </header>

    {{ content | safe }}

  </body>
</html>
